{{ template "base.html" . -}}
{{ define "pageheader" }}
    <h2 id="header">15th Anniversary Celebration!
    </h2>
{{ end -}}
{{ define "pagebody" }}

<p>
Journal Club is turning 15 and celebrating its 500th talk! Since 2011, we’ve gathered regularly to share passions, problems, curiosities, and discoveries of every imaginable variety. We’d love for you to join us as we celebrate this milestone together.
</p>

<h3>Details</h3>

<p>
We’ve rented out a large event space in <b>Vera’s in Union Square</b>, a bar at 70 Union Square in Somerville, for <b>Thursday, June 18th, 2026</b>. There will be plenty of food, as well as access to a private bar for drinks.
</p>

<p>
Drop by anytime after <b>5pm</b>. Around <b>6:30pm</b> we’ll say a few words and share a surprise or two. We’ll have the space until <b>8pm</b>, when the bar opens to the public.
</p>

<h3>Who’s Invited</h3>

<p>
<b>The event is free for everyone to attend</b>, whether you’ve attended one talk or one hundred.
</p>

<p>
Please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLScCEFhuNCJVlMe4h4RFMdTR3Yks6-nkOrRMz2yazX5SRYiCfw/viewform?usp=dialog">this Google Form</a> so we can estimate turnout by <b>Monday, June 8th</b>. If your plans are uncertain, fill out to the best of your ability and  update Luke or Ma’ayan via email later.
</p>

<h3>Can’t Make It?</h3>

<p>
If you can't attend, please still <a href="https://docs.google.com/forms/d/e/1FAIpQLScCEFhuNCJVlMe4h4RFMdTR3Yks6-nkOrRMz2yazX5SRYiCfw/viewform?usp=dialog">fill out the form</a>, as we are also collecting favorite facts, discoveries, and moments from 500 JClub talks</a>. Even if you can’t be there in person, we’d love to hear your favorite thing you learned along the way!
</p>

{{ end -}}
