{% extends "base.html" %}

{% block pageheader %}
    <h3 id="header">About JClub Takeaways
    </h3>
    {% endblock %}

{% block pagebody %}
<p>After each journal club, all are encouraged to visit jclubtakeaways.com and jot down key points, or take aways, from that lecture. These takeaways will be stored and visible on the site, so you can go back to old lectures to jog your memory, or find out what people had to say about a lecture you missed.
<p>Hope you enjoy it, please email Luke or Meagan if you have any questions/suggestions!</p>
<p> If you're trying to join the listserve - join the <a href="https://groups.google.com/forum/?hl=en#!forum/the_asaasa">Google Group</a> or let Luke/Meagan know and they'll add you. 
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdREc-5QFKXw0WbadPz785LzOr8mJnTQPQkH89DOi-ZMyc7Fw/viewform">Signup for a talk!</a>
{% endblock %}
