{% extends "base.html" %}

{% block pageheader %}
    <h3 id="header">About JClub Takeaways
    </h3>
    {% endblock %}

{% block pagebody %}
<p>After each journal club, all are encouraged to visit jclubtakeaways.com and jot down key points, or take aways, from that lecture. These takeaways will be stored and visible on the site, so you can go back to old lectures to jog your memory, or find out what people had to say about a lecture you missed.
<p>Hope you enjoy it, please email Luke or Lydia if you have any questions/suggestions!</p>
<a href="https://docs.google.com/spreadsheets/d/1M38X99dQ_rLCaE6mqX9ct2DF-YO6ySAfd3f1_xwerYs">Signup Sheet</a>
{% endblock %}
