{{ template "base.html" . -}}

{{ define "head" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
{{ end -}}
{{ define "pageheader" }}
    <h3 id="header">
    </h3>
    {{ end -}}

{{ define "pagebody" }}
    <form id="takeaway">
        <div class="form-group">
            <label for='name'>Name</label>
            <input type='text' class="form-control" id="inputName" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for='takeaways'>Takeaways</label>
            <textarea class="form-control" id="inputName" placeholder="Takeaway"></textarea>
            <small class="form-text text-muted">Write a one or two sentence takeaway or interesting facts from this jclub talk.</small>
        </div>
          <button id="submittakeway" type="submit" class="btn btn-primary">Submit</button>
    </form>

<script>


$(document).ready(function() {
    var last_thursday = get_last_thursday();
    window.location.href = "/submit.html#" + last_thursday;
});
</script>
{{ end -}}
