{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
{% endblock %}
{% block pageheader %}
    <h3 id="header">
    </h3>
    {% endblock %}

{% block pagebody %}
<table id="oneweek" class="table table-condensed table-striped">
    <thead>
        <th>Name</th>
        <th>Takeaway</th>
    </thead>
</table>
<button id="entertakeaway" type="submit" class="btn btn-success">Enter takeway</button>

<script>


$(document).ready(function() {
    var thisdate = window.location.hash.split('#')[1];
    $("#entertakeaway").on("click", function() {
        window.location.href = "/submit.html#" + thisdate;
    });
    get_row_from_date(thisdate, function(row) {

        var html;
        if (row["Presenter"] && row["Presenter"] != "-") {
        
            html = "Takeaways from " + row["Topic"] +
            " by " + row["Presenter"] +
            " on " + row["Date"];
        }
        else {
            reason = "";
            if (row["Topic"] && row["Topic"] !== "")
                reason = " because of " + row["Topic"];

            html = "No Journal Club on " + row["Date"] + reason;
            $("#oneweek").remove();
            $("#entertakeaway").remove();
        }
        $("#header").html(html);
    });
    $('#oneweek').sheetrock({
        url:jclubtakeaways ,
        query: 'select A,B,C',
        rowTemplate: function(e) {
            //Skip first row
            if (JSON.stringify(e.cellsArray)==JSON.stringify(e.labels))
                return "";
            var data = e.cellsArray;
            console.log(data);
            //Only use this date
            if (thisdate !== data[0])
                return "";
            var datestr = escapeHTML(data[0]);
            var name = escapeHTML(data[1]);
            var takeaway = escapeHTML(data[2]);
            takeaway = takeaway.replace(/\n/g, "<br>");
                

            return "<tr>" +
                   "<td>" + name + "</td>" +
                   "<td>" + takeaway + "</td>" +
                   "</tr>";
        }

    });
});
</script>
{% endblock %}
