{{ template "base.html" . -}}

{{ define "head" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
{{ end -}}
{{ define "pageheader" }}
    <h3 id="header">Submit a question about a possible future topic
    </h3>
    {{ end -}}

{{ define "pagebody" }}
    <form id="question">
        <div class="form-group">
            <label for="topic">Possible Future Topics</label>
            <select multiple class="form-control" id="inputTopic">
              <option>NEW TOPIC</option>
            </select>
          </div>
        <div class="form-group existing-topic">
            <label for='question'>Question</label>
            <textarea class="form-control" id="inputQuestion" placeholder="Question"></textarea>
            <small class="form-text text-muted">Write a question</small>
        </div>
        <div class="form-group new-topic">
            <label for='newtopic'>New Topic</label>
            <input type='text' class="form-control" id="inputNewTopic" placeholder="Enter proposed topic">
        </div>
    
          <button id="submitquestion" type="submit" class="btn btn-primary">Submit</button>
    </form>

<script>
var thisdate = window.location.hash.split('#')[1];


$(document).ready(function() {
    $("#question .existing-topic").show()
    $("#question .new-topic").hide()

    get_topics(function(topic) {
        $("#inputTopic").prepend("<option>" + topic + "</option>")
    });
    $("#question").submit(function(e) {
        e.preventDefault();
        var topic = $("#inputTopic").val()[0];
        var question = $("#inputQuestion").val();
        var newTopic = $("#inputNewTopic").val()
        if (topic === "NEW TOPIC") {
            if (newTopic === "") 
                alert("Please enter a new topic")
            else
                submit_topic(newTopic, "/questions.html")
        } else {
            if (topic === "" || question === "")
                alert("Please enter a topic and question")
            else
                submit_question(topic, question, "/questions.html")
        }
    });
    $('#inputTopic').on('change', function(){
        var topic = $("#inputTopic").val()[0];
        if (topic === "NEW TOPIC") {
            $("#question .existing-topic").hide()
            $("#question .new-topic").show()
        } else {
            $("#question .existing-topic").show()
            $("#question .new-topic").hide()
        }
  });
});
</script>
{{ end -}}
