{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
{% endblock %}
{% block pageheader %}
    <h3 id="header">
    </h3>
    {% endblock %}

{% block pagebody %}
    <form id="takeaway">
        <div class="form-group">
            <label for='name'>Name</label>
            <input type='text' class="form-control" id="inputName" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for='takeaways'>Takeaways</label>
            <textarea class="form-control" id="inputTakeaway" placeholder="Takeaway"></textarea>
            <small class="form-text text-muted">Write a one or two sentence takeaway or interesting facts from this jclub talk.</small>
        </div>
          <button id="submittakeway" type="submit" class="btn btn-primary">Submit</button>
    </form>

<script>
var thisdate = window.location.hash.split('#')[1];


$(document).ready(function() {
    get_row_from_date(thisdate, function(row) {

        if (row["Presenter"] && row["Presenter"] != "-") {
            var html = "Your takeaway from " + row["Topic"] +
            " by " + row["Presenter"] +
            " on " + row["Date"];
        }
        else {
            html = "No Journal Club on " + row["Date"];
            var reason = row["Topic"];
            if (reason)
                html = html + " because of " + reason;
            $("#takeaway").remove();
        }
        $("#header").html(html);
    });
    $("#takeaway").submit(function(e) {
        e.preventDefault();
        var name = $("#inputName").val();
        var takeaway = $("#inputTakeaway").val();
        if (name === "" || takeaway === "")
            alert("Please enter name and a short takeaway");
        else {
            submit_takeaway(name, thisdate, takeaway, function(success, msg) {
                if (success)
                    window.location.href = "/oneweek.html#" + thisdate;
                else
                    alert("Unexpected error, please contact Luke. Message: " + msg);
            });
        }
    });
});
</script>
{% endblock %}
