{{ template "base.html" . -}}

{{ define "pageheader" }}
    <h3 id="header">Upcoming Weeks
    </h3>
    {{ end -}}

{{ define "pagebody" }}
<table id="weeks" class="table table-condensed table-striped">
    <thead>
        <th>Date</th>
        <th>Presenter</th>
        <th>Topic</th>
    </thead>
</table>
<script>
$(document).ready(function() {
    
    var start = false;
    $('#weeks').sheetrock({
        url:jclubsheet ,
        query: "select A,B,C order by A asc",
        rowTemplate: function(e) {
            if (JSON.stringify(e.cellsArray)==JSON.stringify(e.labels))
                return "";
            var oneweek = oneweek_from_row(e.cellsArray);
            if (!will_occur(oneweek.date))
                return "";
            
            return "<tr>" +
                   "<td>" + oneweek.datestr + "</td>" +
                   "<td>" + oneweek.presenter + "</td>" +
                   "<td>" + oneweek.topic + "</td>" +
                   "</tr>";
        }
    });
});
</script>
{{ end -}}
