{% extends "base.html" %}

{% block pageheader %}
    <h3 id="header">Upcoming Weeks
    </h3>
    {% endblock %}

{% block pagebody %}
<table id="weeks" class="table table-condensed table-striped">
    <thead>
        <th>Date</th>
        <th>Presenter</th>
        <th>Topic</th>
    </thead>
</table>
<script>
$(document).ready(function() {
    
    var start = false;
    $('#weeks').sheetrock({
        url:jclubsheet ,
        query: "select A,B,C order by A asc",
        rowTemplate: function(e) {
            if (JSON.stringify(e.cellsArray)==JSON.stringify(e.labels))
                return "";
            var data = e.cellsArray;
            var datestr = data[0];
            var presenter = data[1];
            var topic = data[2];
            var date = new Date(datestr);
            if (!will_occur(date))
                return "";
            
            return "<tr>" +
                   "<td>" + datestr + "</td>" +
                   "<td>" + presenter + "</td>" +
                   "<td>" + topic + "</td>" +
                   "</tr>";
        }
    });
});
</script>
{% endblock %}
