{% extends "base.html" %}

{% block pageheader %}
    <h3 id="header">Previous Weeks
    </h3>
    {% endblock %}

{% block pagebody %}
<table id="weeks" class="table table-condensed table-striped">
    <thead>
        <th>Date</th>
        <th>Presenter</th>
        <th>Topic</th>
    </thead>
</table>
<script>
$(document).ready(function() {
    
    $('#weeks').sheetrock({
        url:jclubsheet ,
        query: "select A,B,C order by A asc",
        rowTemplate: function(e) {
            if (JSON.stringify(e.cellsArray)==JSON.stringify(e.labels))
                return "";
            var data = e.cellsArray;
            var date = data[0];
            var datehtml = "<a class='date' href=/oneweek.html#" + date + ">" + date + "</a>";
            var presenter = data[1];
            var topic = data[2];
            return "<tr>" +
                   "<td>" + datehtml + "</td>" +
                   "<td>" + presenter + "</td>" +
                   "<td>" + topic + "</td>" +
                   "</tr>";
        }
    });
});
</script>
{% endblock %}
