{{ template "base.html" . -}}
{{ define "pageheader" }}
    <h2 id="header">About JClub 
    </h2>
{{ end -}}
{{ define "pagebody" }}
    <h3>What’s Journal Club?
    </h3>

    <p>Journal Club, or Jclub as it is lovingly known by its attendees, is a regular informal lecture series founded in Cambridge, Massachusetts. 
    <br>
    <p>Our origin story is set in 2011 in a house on Ashton Street. Our original cast of attendees pursued science-related graduate studies in the surrounding Boston area, and over the past decade, the group has expanded to include presenters on topics beyond a natural science focus. During the Covid-19 pandemic, Jclub adapted to a virtual format and at present, offers hybrid events for continued casual learning.
    <br>
    <p>Jclub is anchored by presenter-led talks, and sometimes we build upon those talks with accompanying activities to further our learning. First and Third Thursdays are slated for presenter talks, with related activities falling between presenter talks.
    
    <h3>How do I get involved?
    </h3>

    <p>The easiest way to get involved is to attend a talk. Talks are presented on the first and third Thursdays of every month in a hybrid format. People local to Cambridge and Somerville may be able to join for local talks, and all are welcome for all talks online. All information about upcoming talks and how to attend are distributed via a Google group to your email. <a href="https://docs.google.com/forms/d/14IAu8_3NXum8MeAXTM2bwy5987vFUFQgpohBCIjV1LQ/viewform">Sign up for the Jclub mailing list.</a>.
        <br>
    <p>Our talks are presented by our attendees and range from… well, everything. In one year–say, 2019–Jclub welcomed talks about:
    <ul>
        <li>the politics of the hat
        <li>owls
        <li>pi
        <li>Project Orion
        <li>1830s utopian sex cults
        <li>climate refugees
        <li>sock engineering
        <li>preventing injury in rock climbing
        <li>the history of the Sicilan mafia
        <li>constitutional monarchies
        <li>the Toledo war
        <li>rare earth metals 
    </ul>
    <p>Intrigued? <a href="/weeks.html">Take a look at past talks to see what’s been shared recently</a>.
    <br>
    <p>Interested? <a href="https://docs.google.com/forms/d/e/1FAIpQLSdREc-5QFKXw0WbadPz785LzOr8mJnTQPQkH89DOi-ZMyc7Fw/viewform">We’d love for you to share your topic with us</a> and get you on the schedule. Luke and Ma’ayan will reach out to request a short description of your talk and add you to the calendar! We love first-time and seasoned speakers on most any topic we can think of (or that you can think of).

    <h3>Who is welcome at Jclub?
    </h3>
    <p>Anyone who is curious, is always learning, and wishes to be in the company of those who feel the same way. 
    <br>
    <p>In-person Jclub attendance is limited by the discretion of the hosts, but the virtual living room of Jclub is always open to all. You’re invited to join us anytime you’re available.
{{ end -}}
